# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
*.exe
drivers/XRay/eighteeth.jpg
drivers/XRay/Software Installation Guide.mp4
drivers/XRay/calibration/calib.ini
drivers/XRay/calibration/config.ini
drivers/XRay/calibration/iDetectorConfig.ini
drivers/XRay/calibration/ParamRange.ini
drivers/XRay/calibration2/calib.ini
drivers/XRay/calibration2/config.ini
drivers/XRay/calibration2/iDetectorConfig.ini
drivers/XRay/calibration2/ParamRange.ini
drivers/XRay/calibration2/PF640001T1230200154.txt
drivers/XRay/calibration2/Correct/Default/defect_1300x1800.dft
drivers/XRay/calibration2/Correct/Default/gain_1300x1800.gn
